@inherits LayoutComponentBase

<div class="">
    <div class="top-row">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
